<html>
	<head>
	{% if title %}
		<title>{{ title }} - Cunning Xmas - 2019</title
		{% else %}
		<title>Welcome to the Cunning Xmas 2019 Website!</title>
		{% endif %}
	<head>
	
	<body>
		<div>
			Cunning Secret Santa: 
			<a href="{{ url_for('index') }}">Home</a>
			<a href="{{ url_for('login') }}">Login</a>
		</div>
		<hr>
		
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		    {% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		
		
		<!-- insert page content here -->
		{% block content %}{% endblock %}
	
	</body>
</html>